body {
  font-family: sans-serif;
}

#add-area {
  background-color: rgb(224, 255, 255);
  padding: 10px;
}
#unfinished-area {
  border: solid 2px #bbb;
}
#finished-area {
  background-color: rgb(224, 255, 255);
  padding: 10px;
}

#input-area {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.list-row {
  display: flex;
}

.title {
  text-align: center;
  font-size: large;
}

button {
  border-radius: 10px;
  border: none;
  height: 40px;
  padding: 1px 10px;
  margin: 5px;
}

button:hover {
  background-color: rgb(0, 153, 153);
  color: white;
}
